html,
body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-family: sans-serif;
}

/*******************/
/*--   SECTION   --*/
/*******************/
section{
  text-align: center;
  padding-top: 5%;
}

section.reasons {
  margin-bottom: 7%;
}

section.reasons .grid-container-of-2{
  margin-top: 5%;
}

section.shopping-cart-section {
  margin-bottom: 7%;
}

/******************/
/*--   HEADER   --*/
/******************/
header#header{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  text-align: center;
}

header.homepage{
  background-image: linear-gradient(#00000099, #00000099), url(../image/background.jpeg);
}

.fa-chevron-left,
.fa-chevron-right {
  color: #f4d603;
}

.fa-mix,
.fa-paint-brush,
.fa-crown {
  color: #f4d603;
  font-size: 4rem;
}


/*header.background{
  background: linear-gradient(165deg, #020024 14%, #790954 35%, #2b03c2 69%, #ffb500fd 100%);
  transition-delay: 2s;
}*/

header.shopping-page{
  width: 100%;
  height: 20%;
  text-align: center;
}

/******************************/
/*--   NAVBAR IN HOMEPAGE   --*/
/******************************/
.navbar {
  padding-right: 5%;
}

.main-nav {
  float: right;
  font-size: 18px;
  font-weight: 300;
  margin-top: 55px;
  margin-right: 5%;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a {
  padding: 8px 0;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.4s, border-bottom 0.4s;
  cursor: pointer;
}

.main-nav li a:hover {
  border-bottom: 2px solid #f4d603;
}

.mobile-nav-icon {
  float: right;
  display: none;
  cursor: pointer;
  margin-top: 30px;
}

.mobile-nav-icon i {
  color: #fff;
  font-size: 33px;
}

/* navbar-show */
.navbar-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.navbar-show .main-nav { 
  margin-top: 18px; 
}

.navbar-show .main-nav li a {
  padding: 16px 0;
  color: #555;
}

/******************************/
/*--   NAVBAR IN SHOPPING   --*/
/******************************/
.nav-box{
  text-align: right;
  margin-right: 5%;
  margin-top: 2%;
  
}

.nav-box > a > i > span {
  font-family: sans-serif;
  font-size: 12px;
}

a#shopping-cart {
  text-decoration: none;
}

a#shopping-cart:hover {
  cursor: pointer;
}

h1.title{
  font-family: 'Permanent Marker', cursive;
  color:white;
  font-size: 5em;
  margin:0;
  padding-top: 16.5rem;
  padding-bottom: 0rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
	font-family: sans-serif;
	color: black;
	font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.grid-div > h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.grid-div {
  padding: 0 11%;
  word-break: break-all;
}

.gridText,
.pText {
  font-weight: 300;
}

.gridText {
  text-align: left;
}

.header-box {
  max-width: 1140px;
  margin: 0 auto;
}

img:hover{
  cursor: pointer;
}

.add-to-cart,
.go-back-button,
.shopping-button {
  border:none;
  outline:none; 
  color: white;
  font-weight: 700;
}

.shopping-button{
  background-color: transparent;
  border:1px solid white;
  width: 13rem;
  height: 4rem;
  margin-top: 6rem;
  font-size: 1.5rem;
  box-shadow: #000000bf 10px 10px 51px 0px;
  border-radius: 3%;
  transition: all 0.5s;
}

.shopping-button:hover {
  transform: scale(1.2);
  background-color: #f4d603; 
  border: none;
  cursor: pointer;
}


.go-back-button {
  color:black;
  background: white;
  transition: color 0.5s ease-out;
}

.go-back-button:hover {
  color: #e2413f;
  cursor: pointer;
}


.add-to-cart {
  width:100%;
  color: white;
  background: black;
  transition: background-color 0.5s ease-out;
}

.add-to-cart:hover {
  background: #e2413f;
  cursor: pointer;
}

.ui-effects-transfer { border: 2px dotted gray; }

/**********************/
/*--   GRID EFFECT  --*/
/**********************/
.grid-container-of-3,
.grid-container-of-2 {
  max-width:1140px;
  display: grid;
}

.grid-container-of-4 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-container-of-3{
  grid-row-gap: 50px;
	grid-template-columns: 33% 33% 33%;
  margin:7% auto;
}

.grid-container-of-2{
  grid-row-gap: 10px;
  grid-template-columns: 25% 75%;
  margin:0% auto;
}

.grid-container-of-2-cart {
  display: grid;
  grid-template-columns: 40% 60%;
  border-bottom: 1px solid #0000001a;
}


/************************/
/*--   SVG ANIMATION  --*/
/************************/
text#homepage-title {
  stroke: #f4d603;
  fill: #645f5a;
  font-weight: 700;
  font-family: PermanentMarker-Regular, Permanent Marker;
  font-size: 6rem;
}

svg#homepage-svg{
  max-width: 70rem;
  width: 100%;
  height: auto;
  stroke-width: 4;
}

tspan > tspan {
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
}
tspan > tspan:nth-of-type(1) {
  animation: draw 300ms 150ms forwards;
}
tspan > tspan:nth-of-type(2) {
  animation: draw 300ms 300ms forwards;
}
tspan > tspan:nth-of-type(3) {
  animation: draw 300ms 450ms forwards;
}
tspan > tspan:nth-of-type(4) {
  animation: draw 300ms 600ms forwards;
}
tspan > tspan:nth-of-type(5) {
  animation: draw 300ms 750ms forwards;
}
tspan > tspan:nth-of-type(6) {
  animation: draw 300ms 900ms forwards;
}
tspan > tspan:nth-of-type(7) {
  animation: draw 300ms 1050ms forwards;
}
tspan > tspan:nth-of-type(8) {
  animation: draw 300ms 1200ms forwards;
}
tspan > tspan:nth-of-type(9) {
  animation: draw 300ms 1350ms forwards;
}
tspan > tspan:nth-of-type(10) {
  animation: draw 300ms 1500ms forwards;
}
tspan > tspan:nth-of-type(11) {
  animation: draw 300ms 1650ms forwards;
}
tspan > tspan:nth-of-type(12) {
  animation: draw 300ms 1800ms forwards;
}
tspan > tspan:nth-of-type(13) {
  animation: draw 300ms 1950ms forwards;
}
tspan > tspan:nth-of-type(14) {
  animation: draw 300ms 2100ms forwards;
}
tspan > tspan:nth-of-type(15) {
  animation: draw 300ms 2250ms forwards;
}
tspan > tspan:nth-of-type(16) {
  animation: draw 300ms 2400ms forwards;
}
tspan > tspan:nth-of-type(17) {
  animation: draw 300ms 2550ms forwards;
}
tspan > tspan:nth-of-type(18) {
  animation: draw 300ms 2700ms forwards;
}
tspan > tspan:nth-of-type(19) {
  animation: draw 300ms 2850ms forwards;
}
tspan > tspan:nth-of-type(20) {
  animation: draw 300ms 3000ms forwards;
}
tspan > tspan:nth-of-type(21) {
  animation: draw 300ms 3150ms forwards;
}
tspan > tspan:nth-of-type(22) {
  animation: draw 300ms 3300ms forwards;
}
tspan > tspan:nth-of-type(23) {
  animation: draw 300ms 3450ms forwards;
}
tspan > tspan:nth-of-type(24) {
  animation: draw 300ms 3600ms forwards;
}

@keyframes draw {
  100% {stroke-dashoffset: 0;}
}

/*-- SHOPPING PAGE SVG --*/
.container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 13vh;
}

svg {
  max-width: 45rem;
  width: 100%;
  height: auto;
  stroke-width: 5;
}

text#shoppingpage-title {
  stroke: black;
  fill: #645f5a;
  font-weight: normal;
  font-family: PermanentMarker-Regular, Permanent Marker;
  font-size: 70px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #ffffff4d;
}

/*********************************/
/*--   SHOPPING CART SUMMARY   --*/
/*********************************/
.shopping-cart-summary {
  border: 1px solid #0000001a;
  width: 280px;
  left: 75%;
  margin-top: 1%;
  z-index: 1;
  position: absolute;
  background: white;
  display: none;
}

.cart-total{
  border: 1px solid #dadada;

}

.description {
  padding: 0 3%;
  text-align: left;
}

.description h5 {
  margin: 0;
  margin-top: 10%;
}

.cartText {
  font-size: 12px;
  margin: 0;
  margin-top: 3%;
  font-weight: 700;
}


table {
  font-size: 14px;
  width: 100%;
}

tfoot > th {
  font-weight: 700;
}

th {
    padding: 3% 5%;
    width: 70%;
    text-align: left;
}

td {
  padding: 0 5%;
  width: 30%;
}


/****************/
/*--   CARD   --*/
/****************/
.outter-card {
  box-shadow: 0 4px 8px 0 #00000033;
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: cursive;
}


/*********************/
/*--   FLIP CARD   --*/
/*********************/

.img-scene {
  width: 300px;
  height: 300px;
  /*border: 1px solid #CCC;*/
  /*margin: 40px 0;*/
  /*perspective: 600px;*/
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.card-face-back {
  transform: rotateY(180deg);
}


/******************/
/*--   FOOTER   --*/
/******************/
.footer-box{
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
  background-color: #000000de;
  color: gray;
}

.social-links {
  margin-top: 5%;
  text-align: center;
}

.social-links li {
  margin-right: 10px;
  display: inline-block;
  list-style: none;
  font-size: 26px;
}

.social-links li a:link,
.social-links li a:visited {
  color: gray;
  text-decoration: none;
  border: 0;
}

.logo-facebook:hover {
  color: #3b5998;
}

.logo-github:hover {
  color: #fcfcfc;
}

.logo-googleplus:hover {
  color: #dd4b39;
}

.logo-instagram:hover {
  color: #8e29afde;
}

div.paddle {
    width: 100%;
    height: 10px;
    background-color: #f4d603;
    position: relative;
}

/******************/
/*--   CUBE   --***/
/******************/

.scene {
  width: 150px;
  height: 150px;
  margin: 0 auto; 
  perspective: 400px;
}

.cube {
  width: 150px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-75px);
  transition: transform 1s;
}

.cube.show-1 { transform: translateZ(-75px) rotateY(   0deg); }
.cube.show-2 { transform: translateZ(-75px) rotateX(  90deg); }
.cube.show-3 { transform: translateZ(-75px) rotateY(-180deg); }
.cube.show-4 { transform: translateZ(-75px) rotateX( -90deg); }
.cube.show-5 { transform: translateZ(-75px) rotateY( -90deg); }
.cube.show-6 { transform: translateZ(-75px) rotateY(  90deg); }



.cube-face {
  position: absolute;
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  
}

.cube-face-1 { 
  background: #f4d601e6;
  transform: rotateY(  0deg) translateZ(75px); 
}
.cube-face-2 { 
  background: #e2413fe6;
  transform: rotateX(-90deg) translateZ(75px); 
}
.cube-face-3 { 
  background: #03f4b6e6;
  transform: rotateY(180deg) translateZ(75px); 
}
.cube-face-4 { 
  background: #792b92e6;
  transform: rotateX( 90deg) translateZ(75px); 
}
.cube-face-5 { 
  background: #3e15dae6;
  transform: rotateY( 90deg) translateZ(75px); 
}
.cube-face-6 { 
  background: #8a7878e6;
  transform: rotateY(-90deg) translateZ(75px); 
}


/**************************/
/*--   REASON STYLE   --***/
/**************************/
.reason-group h4 {
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}

.reason-group {
  padding: 3% 0;
  margin-left: 5%;
}

.reason {
  padding: 0 3%;
  height: 73%;
}

.reason-1 { border: 4px dotted #f4d601; }
.reason-2 { border: 4px dotted #e2413f; }
.reason-3 { border: 4px dotted #03f4b6; }
.reason-4 { border: 4px dotted #792b92; }
.reason-5 { border: 4px dotted #3e15da; }
.reason-6 { border: 4px dotted #8a7878; }




