html,
body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/******************/
/*--   HEADER   --*/
/******************/
header#header{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  text-align: center;
}

header.homepage{
  background-image: linear-gradient(#00000099, #00000099), url(image/background.jpg);
}

/*header.background{
  background: linear-gradient(165deg, #020024 14%, #790954 35%, #2b03c2 69%, #ffb500fd 100%);
  transition-delay: 2s;
}*/

header.shopping-page{
  width: 100%;
  height: 20%;
  text-align: center;
}


h1.title{
  font-family: 'Permanent Marker', cursive;
  color:white;
  font-size: 5em;
  margin:0;
  padding-top: 16.5rem;
  padding-bottom: 0rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
	font-family: sans-serif;
	color: white;
	font-size: 3rem;
  letter-spacing: 5px;
}

.header-box {
  max-width: 1140px;
  margin: 0 auto;
}

img:hover{
  cursor: pointer;
}

.go-back-button,
.shopping-button {
  border:none;
  outline:none; 
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.shopping-button{
	background-color: #b916149c;
  width: 13rem;
  height: 4rem;
  margin-top: 6rem;
  font-size: 1.5rem;
  box-shadow: #000000bf 10px 10px 51px 0px;
  border-radius: 3%;
  transition: all 0.5s;
}

.shopping-button:hover {
  transform: scale(1.2);
  background-color: #b91614; 
  color: white;
}

.go-back-button {
  color:black;
  background: white;
  transition: background-color 2s ease-out;
}

.go-back-button:hover {
  background: orange;
}

.grid-container{
  max-width:1140px;
	display: grid;
  grid-row-gap: 50px;
	grid-template-columns: 33% 33% 33%;
  margin:0 auto;
}

.colume {
	border: 1px solid black;
	padding: 30px;
	text-align: center;
	font-size: 30px;
}

/************************/
/*--   SVG ANIMATION  --*/
/************************/
text#homepage-title {
  stroke: orange;
  fill: #645f5a;
  font-weight: 700;
  font-family: PermanentMarker-Regular, Permanent Marker;
  font-size: 6rem;
}

svg#homepage-svg{
  max-width: 70rem;
  width: 100%;
  height: auto;
  stroke-width: 4;
}

tspan > tspan {
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
}
tspan > tspan:nth-of-type(1) {
  animation: draw 300ms 150ms forwards;
}
tspan > tspan:nth-of-type(2) {
  animation: draw 300ms 300ms forwards;
}
tspan > tspan:nth-of-type(3) {
  animation: draw 300ms 450ms forwards;
}
tspan > tspan:nth-of-type(4) {
  animation: draw 300ms 600ms forwards;
}
tspan > tspan:nth-of-type(5) {
  animation: draw 300ms 750ms forwards;
}
tspan > tspan:nth-of-type(6) {
  animation: draw 300ms 900ms forwards;
}
tspan > tspan:nth-of-type(7) {
  animation: draw 300ms 1050ms forwards;
}
tspan > tspan:nth-of-type(8) {
  animation: draw 300ms 1200ms forwards;
}
tspan > tspan:nth-of-type(9) {
  animation: draw 300ms 1350ms forwards;
}
tspan > tspan:nth-of-type(10) {
  animation: draw 300ms 1500ms forwards;
}
tspan > tspan:nth-of-type(11) {
  animation: draw 300ms 1650ms forwards;
}
tspan > tspan:nth-of-type(12) {
  animation: draw 300ms 1800ms forwards;
}
tspan > tspan:nth-of-type(13) {
  animation: draw 300ms 1950ms forwards;
}
tspan > tspan:nth-of-type(14) {
  animation: draw 300ms 2100ms forwards;
}
tspan > tspan:nth-of-type(15) {
  animation: draw 300ms 2250ms forwards;
}
tspan > tspan:nth-of-type(16) {
  animation: draw 300ms 2400ms forwards;
}
tspan > tspan:nth-of-type(17) {
  animation: draw 300ms 2550ms forwards;
}
tspan > tspan:nth-of-type(18) {
  animation: draw 300ms 2700ms forwards;
}
tspan > tspan:nth-of-type(19) {
  animation: draw 300ms 2850ms forwards;
}
tspan > tspan:nth-of-type(20) {
  animation: draw 300ms 3000ms forwards;
}
tspan > tspan:nth-of-type(21) {
  animation: draw 300ms 3150ms forwards;
}
tspan > tspan:nth-of-type(22) {
  animation: draw 300ms 3300ms forwards;
}
tspan > tspan:nth-of-type(23) {
  animation: draw 300ms 3450ms forwards;
}
tspan > tspan:nth-of-type(24) {
  animation: draw 300ms 3600ms forwards;
}
tspan > tspan:nth-of-type(25) {
  animation: draw 300ms 3750ms forwards;
}
tspan > tspan:nth-of-type(26) {
  animation: draw 300ms 3900ms forwards;
}
tspan > tspan:nth-of-type(27) {
  animation: draw 300ms 4050ms forwards;
}
tspan > tspan:nth-of-type(28) {
  animation: draw 300ms 4200ms forwards;
}
tspan > tspan:nth-of-type(29) {
  animation: draw 300ms 4350ms forwards;
}
tspan > tspan:nth-of-type(30) {
  animation: draw 300ms 4500ms forwards;
}
tspan > tspan:nth-of-type(31) {
  animation: draw 300ms 4650ms forwards;
}
tspan > tspan:nth-of-type(32) {
  animation: draw 300ms 4800ms forwards;
}


@keyframes draw {
  100% {stroke-dashoffset: 0;}
}

/*-- SHOPPING PAGE SVG --*/
.container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

svg {
  max-width: 45rem;
  width: 100%;
  height: auto;
  stroke-width: 5;
}

text#shoppingpage-title {
  stroke: black;
  fill: #645f5a;
  font-weight: normal;
  font-family: PermanentMarker-Regular, Permanent Marker;
  font-size: 70px;
}

/****************/
/*--   CARD   --*/
/****************/
.card {
  box-shadow: 0 4px 8px 0 #00000033;
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

/******************/
/*--   FOOTER   --*/
/******************/
.footer-box{
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 5%;
  text-align: center;
  padding: 10px;
  background-color: #000000de;
  color: gray;
}

.social-links {
  margin-top: 5%;
  text-align: center;
}

.social-links li {
  margin-right: 10px;
  display: inline-block;
  list-style: none;
  font-size: 26px;
}

.social-links li a:link,
.social-links li a:visited {
  color: gray;
  text-decoration: none;
  border: 0;
}

.logo-facebook:hover {
  color: #3b5998;
}

.logo-github:hover {
  color: #fcfcfc;
}

.logo-googleplus:hover {
  color: #dd4b39;
}

.logo-instagram:hover {
  color: #8e29afde;
}
